<app-header [id]="30"
            [date]="date"
            title="Ticket Details"
            type="create"></app-header>

<div id="timer" class="d-flex justify-content-end align-items-center ml-auto px-4">
  <h4 class="text-primary d-inline-block mb-0 mr-2" *ngIf="counter.stoped">{{sec5}}</h4>
  <div id="timer__container" class="d-flex justify-content-end align-items-center">
    <div id="timer__counter" class="d-inline-flex justify-content-center align-items-center mx-3">
      <img [src]="timerIcon" width="25" class="mr-2" alt="Timer-Icon">
      <countdown [config]="{leftTime: 3600, template: '$!h!:$!m!:$!s!'}"></countdown>
    </div>
    <div id="timer__stop"
         class="cursor-pointer p-3 background-accent"
         (click)="stopCounter()">
      <img [src]="stopTimerIcon" width="15" alt="Stop-Timer">
    </div>
  </div>
</div>

<div class="container mt-5">
  <form class="row" [formGroup]="ticketForm" (submit)="onSubmit()">
    <div class="form-group col-lg-6">
      <label for="nameInput">Name</label>
      <input type="text"
             required
             class="form-control"
             id="nameInput"
             formControlName="name"
             [ngClass]="{'is-invalid': ticketForm.controls.name.touched && ticketForm.controls.name.errors}"/>
      <div class="invalid-feedback">Please enter a ticket name.</div>
    </div>
    <div class="form-group col-lg-6">
      <label for="typeInput">Type</label>
      <input type="text"
             required
             class="form-control"
             id="typeInput"
             formControlName="type"
             [ngClass]="{'is-invalid': ticketForm.controls.type.touched && ticketForm.controls.type.errors}"/>
      <div class="invalid-feedback">Please enter a type.</div>
    </div>
    <div class="form-group col-lg-6">
      <label for="governorateInput">Governorate</label>
      <select required
              class="form-control text-capitalize"
              id="governorateInput"
              formControlName="governorate"
              (change)="setCities()"
              [ngClass]="{'is-invalid': ticketForm.controls.governorate.touched && ticketForm.controls.governorate.errors}">
        <option *ngFor="let item of egList.default;"
                [value]="item.id"
                class="text-capitalize">
          {{item.url}}
        </option>
      </select>
      <div class="invalid-feedback">Please select a governorate.</div>
    </div>
    <div class="form-group col-lg-6">
      <label for="cityInput">City</label>
      <select required
              class="form-control text-capitalize"
              id="cityInput"
              formControlName="city"
              [ngClass]="{'is-invalid': ticketForm.controls.city.touched && ticketForm.controls.city.errors}">
        <option *ngFor="let item of subRegions;"
                [value]="item.id"
                class="text-capitalize">
          {{item.url}}
        </option>
      </select>
      <div class="invalid-feedback">Please select a city.</div>
    </div>
    <div class="form-group col-12">
      <label for="detailsInput">Details</label>
      <textarea required
                class="form-control"
                id="detailsInput"
                cols="15"
                rows="5"
                formControlName="details"
                [ngClass]="{'is-invalid': ticketForm.controls.details.touched && ticketForm.controls.details.errors}">
      </textarea>
      <div class="invalid-feedback">Please enter details.</div>
    </div>
    <div class="mt-3 ml-auto mr-3">
      <button type="submit" class="btn px-4 btn-primary mr-3">Save</button>
      <button routerLink="/" type="reset" class="btn px-4 btn-outline-primary">Cancel</button>
    </div>
  </form>
</div>
